spring:
  application:
    name: capstone2
  profiles:
    default: dev
  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB
logging:
  level:
    org:
      springframework:
        security: DEBUG
        web:
          servlet:
            DispatcherServlet: DEBUG

aws:
  s3:
    credentials:
      accessKey: AKIAWRMXN2YQLBZIJVAS
      secretKey: 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
      region: ap-northeast-2
    bucket: kit-law-in-comm-image

jwt:
  secret: NzE3YjQ5NTNiZTc3MDRiODM3ZDI0MzJjYzQyZjc1MWE1OTNjNTQ4N2FkMjkzZDAwMThlYmI3MTdlMTEzNGRjYz

springdoc:
  swagger-ui:
    groups-order: DESC
    tags-sorter: alpha
    operations-sorter: method
    disable-swagger-default-url: true
    display-request-duration: true
    defaultModelsExpandDepth: 2
    defaultModelExpandDepth: 2
    with-credentials: true

  api-docs:
    path: /api-docs
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  writer-with-default-pretty-printer: true
  model-and-view-allowed: true
  show-login-endpoint: true
  enable-spring-security: true
  override-with-generic-response: true
server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
    context-path: /api
  tomcat:
    connection-timeout: 180000
    max-http-response-header-size: 16KB
    keep-alive-timeout: 180000
  max-http-request-header-size: 16KB
  ssl:
    enabled: false
  compression:
    enabled: false
  http2:
    enabled: false